.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  background-color: #262626;
  margin-top: 120px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-header {
  font-size: 18px;
  color: white;
  font-family: 'Lora', serif;
  margin: 0px;
}

.footer-smalltext {
  font-size: 14px;
  color: white;
}

.footer-mediumtext {
  font-size: 16px;
  color: white;
  margin: 0px;
}

.footer-left-container {
  float: left;
  left: 21%;
  position: absolute;
  z-index: 1;
}

.footer-right-container {
  float: right;
  text-align: right;
  z-index: 1;
}

.footer-icon {
  margin: 20px 0px 30px 25px;
}

#footer-logo {
  left: 0;
  bottom: 0;
  float: left;
  position: relative;
}

#footer-left-contact {
  float: left;
  margin-right: 20px;
}

#footer-right-contact {
  float: right;
  margin-left: 20px;
}

#footer-text-container {
  display: block;
}

@media screen and (max-width: 800px) {

  .footer {
    height: 100%;
  }

  .footer-left-container {
    float: none;
    display: inline-block;
    text-align: center;
    max-width: 350px;
    padding: 5px;
    position: static;
  }

  .footer-right-container {
    float: none;
    text-align: center;
    display: inline-block;
    padding: 5px;
  }

  #footer-text-container {
    text-align: center;
    max-height: 100%;
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }

  .footer-icon {
    margin: 15px;
  }
}

@media screen and (max-width: 620px) {

  #footer-logo {
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    display: block;
  }

  #footer-left-contact {
    float: none;
    margin-right: 0;
  }

  #footer-right-contact {
    float: none;
    margin-left: 0;
  }
}
