#topnav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 80px;
  background-color: white;
  transition: all 0.2s ease;
}

.nav {
  float:right;
  padding: 24px 16px 24px 16px;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

#leftnav {
  padding: 10px;
}

#navitems {
  display: block;
}

.burger {
  display: none;
}

.nav a {
  text-decoration: none;
}

#navitems {
  display: block;
}

.burger {
  display:none;
}

nav {
  white-space: nowrap;
  opacity: 0;
  transition: 0.3s ease;
  position: fixed;
  top: 80px;
  margin: 0.5rem 1.5rem;
}

@media screen and (max-width: 950px) {
  #navitems {
    display:none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: right;
    overflow: hidden;
    width: 200px;
    justify-content: center;
    text-align: center;
  }

  .burger {
    display: inline;
  }
  
  .nav {
    float: none;
    padding: 15px;
  }

  #nav-image {
    width: 236px;
  }

}

@media screen and (min-width: 950px) {
  #topnav {
    height: 80px;
  }
}
