body {
    background-color: white;
    margin: 0px;
}

p {
    color:#0D0E0E;
    font-size: 16pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

h1 {
    color: #0D0E0E;
    font-size: 28pt;
    font-family: 'Lora', serif;
}

h2 {
    color: #0D0E0E;
    font-size: 24pt;
    font-family: 'Lora', serif;
    /*teacher names will be in bold*/
}

h3 {
    color: #0D0E0E;
    font-size: 20pt;
    font-family: 'Lora', serif;
    /*teacher's title will be in colour: #B63B4F*/
}

a {
    text-decoration: none;
    color: inherit;
}
