body {
    background-color: white;
    margin: 0px;
}

p {
    color:#0D0E0E;
    font-size: 16pt;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

h1 {
    color: #0D0E0E;
    font-size: 28pt;
    font-family: 'Lora', serif;
}

h2 {
    color: #0D0E0E;
    font-size: 24pt;
    font-family: 'Lora', serif;
    /*teacher names will be in bold*/
}

h3 {
    color: #0D0E0E;
    font-size: 20pt;
    font-family: 'Lora', serif;
    /*teacher's title will be in colour: #B63B4F*/
}

#Homepage_About_Us {
    display: block;
    height: 100vh;
    text-align: center;
    padding: 1.5rem;
    background-image: url(../images/Homepage_About_Us.png);
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: #0D0E0E;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.action-banner {
  background-color: #B63B4F;
  align-items: center;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 1050px) {
  .container {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

  }
}
